<div class="bg-warning bg-gradient text-black text-center " 
  <h1>Welcome <span id="span-email"></span> To Ecommerce Chat!</h1>

  <h3>Messages List:</h3>
  <div
    id="div-msgs"
    style="border: 3px solid black;margin-bottom: 15px;width:800 text-center" 
  >
    Loading...
  </div>
  <input id="input-msg" type="text" value="" placeholder="Ingrese algo.." />

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chatIndex.js"></script>