<h2>Recuperar Contraseña</h2>
<form action="/recover-form" method="POST">
  <label for="email">Correo Electrónico:</label><br />
  <input type="email" id="email" name="email" required /><br /><br />
  <input type="submit" value="Recuperar Contraseña" />
</form>