<h2>Cambio de Contraseña</h2>
<form action="/recover-pass" method="POST">
  <label for="email">Correo Electrónico:</label><br />
  <input type="email" id="email" name="email" required /><br /><br />

  <label for="code">Código de Verificación:</label><br />
  <input type="text" id="code" name="code" required /><br /><br />

  <label for="newPassword">Nueva Contraseña:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />

  <input type="submit" value="Cambiar Contraseña" />
</form>